@font-face {
    font-family: 'Manrope';
    src: url('https://fonts.google.com/specimen/Manrope');
    font-weight: 800;
}
h1, p{
    font-family: 'Manrope', sans-serif;
}
body{
    background-color: hsl(218, 23%, 16%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}